@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    font-family: "Roboto";
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* CSS particulier */

header {
    display: flex;
    width: 100%;
    justify-content: center;
}

header nav ul li:not(:last-child):after {
    content: "|";
    color: black;
    font-size: 20px;
    margin-left: 14px;
}

h1 {
    font-size: 40px;
}

h1, h2 {
    text-transform: uppercase;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    width: 50vh;
    align-items: center;
}

header nav ul li a {
    color: black;
}

#banner {
    display: flex;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    height: 70vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 50%;
}

.accroche {
    color: white;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 5vw auto;
    padding: 0 50px;
}

.container h2 {
    text-align: center;
    margin: 5% 0 2% 0;
}

#presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.btn {
    background-color: brown;
    color: white;
    padding: 0.5vw 4vh;
}

#actus {
    display: flex;
    justify-content: space-between;
}

.actu {
    flex-direction: column;
    background-color: rgb(56, 56, 56);
    color: white;
    height: 50vh;
    width: 30%;
}

.actu-image img{
    height: 12vw;
    width: 100%;
}

.actu-text {
    margin: 10px;
}

#newsletter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 4% 0;
}

#newsletter input {
    padding: 0.8vh;
    border-radius: 5px;
}

#infos {
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: center;
}

.infos-image {
    width: 20%;
}

.infos-image a img{
    width: 50%;
    align-self: center;
}

#infos ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0 5vh;
    align-items: center;
}

#infos ul li a {
    color: white;
}

.mentions ul li:not(:last-child):after {
    content: "|";
    color: white;
    font-size: 20px;
    margin-left: 14px;
}